@import 'vars.styl'

body
	background url(assets/bg-red.png) 0 -14% repeat-x base
	font-family open
	

.wrap
	background-image url(assets/top-base.png) 
	margin 5% auto 0 auto
	background-size contain
	background-repeat no-repeat
	background-color #fff
	background-position 0% 0% 
	max-width 480px
	
/*-----------------------------------------------------------------------------------------------------> header*/

.logo
	position relative
	top 35px
	margin-bottom 40px
	img
		max-width 50%
		height auto
.triggermenu
	font-size 2.5em
	text-align right
	color rojo
	position relative
	top 40px
/*-----------------------------------------------------------------------------------------------------> headpage*/
.photoback
	background url(assets/slider01.png) 0 20% no-repeat 	
	width 100%	
	height auto
	background-size cover
	
	
	
.textbtn
	position relative
	top 160px
	text-align center
	background-color grisfinal
	padding 1px 20px 20px 20px
	
	.title
		text-transform uppercase
		h3
			span
				font-weight 300	
	.content
		width 100%
		font-weight 300
		font-size .8em
	.boton
		margin-top 15px
		a
			padding 8px 10px
			background-color rojo
			font-size .8em
			color #fff
			
/*-----------------------------------------------------------------------------------------------------> content*/	

.headcont
	margin-top 180px
.imagen
	img
		margin 0 auto
			
.title
	text-align center
	
	h2
		font-weight 300
		font-size 1.5em
.content
	margin-top 2%
	text-align center
	font-size 1em
	margin-bottom 30px

.textos
	margin 20% 0
	text-align center
.title_red
	color rojo
	h4
		font-size 1.5em
.sub_red
	margin 0 5%
	font-weight 300
		
.textos2
	background-color grisfinal
	padding 25px 15px
	text-align center
	.title_red
		color #000
	
/*----------------------------------------------------------------------------------------------footer*/
footer
	margin-top 10px
	text-align center
	color heavy
	a
		color heavy