/*!
Theme Name: 
Theme URI: ---
Description: 24x7ss
Author: Dymenxion
Version: 1.0
*/
@import 'bootstrap/css/bootstrap.min.css'
@import url 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)';

/* Mobile Firts */
@media screen and (max-width:768px)
	@import 'mobile.styl';

/* Tablets: Landscape */
@media screen and (min-width:769px) and (max-width:1199px)
	@import 'tablet.styl';

/* Desktops */
@media screen and (min-width:1200px)
	@import 'desktop.styl';