@import 'vars.styl'

body
	background url(assets/bg-red.png) 0 -1.25% repeat-x base
	font-family open

.wrap
	background-image url(assets/top-base.png) 
	margin 5% auto 0 auto
	background-size contain
	background-repeat no-repeat
	background-color #fff
	background-position 0% 0% 
	max-width 992px
	overflow hidden
/*-----------------------------------------------------------------------------------------------------> header*/

.logo
	position relative
	top 15px
	right 20px
	img
		width 140px
		height auto

.nav-bar
	background negro
	box-sizing(border-box)
	padding 10px 0
	margin-top 31px
	
	nav
		ul
			margin 0
			padding 0
			
			li
				display inline-block
				text-transform uppercase

				a
					color #fff
					padding 10px 25px
					transition(.15s)
					
					&:hover
						background-color rojo
						text-decoration none
/*-----------------------------------------------------------------------------------------------------> headpage*/
.photoback
	background url(assets/slider01.png) 0 0 no-repeat #fff	
	width 100%	
	height 400px
.textbtn
	padding 1px 20px 20px 20px
	left 540px
	position relative
	top 260px
	color #fff
	.title
		text-transform uppercase
		h3
			span
				font-weight 300	
	.content
		
		font-weight 300	
		width 40%
		font-size .8em
		
	.boton
		margin-top 15px
		a
			padding 8px 10px
			background-color rojo
			font-size .8em
			&:hover
				text-decoration none
			color #fff
/*-----------------------------------------------------------------------------------------------------> content*/	
.wrap_white
	background-color #fff
	padding-bottom 85px
	box-shadow (0px 0px 25px 0px rgba(50, 50, 50, 0.45))
.headcont
	margin-top 84px
	text-align center
	.imagen
	img
		margin 0 auto
		
	.title
		h2
			font-weight 300
			font-size 3.2em
	.content
		
		margin 20px 120px 55px 120px

.textos
	margin 37px 0
	text-align center
	.title_red
		color rojo
		h4
			font-size 1.5em
	.sub_red
		margin 0 25px
		font-weight 300
.textos2
	margin 37px 0
	text-align center
	.title_red
		color rojo
		h4
			font-size 1.5em
	.sub_red
		margin 0 25px
		font-weight 300
.esquema
	margin-top 80px
	img
		margin 0 auto
/*----------------------------------------------------------------------------------------------footer*/
footer
	margin 10px
	text-align center
	color heavy
	a
		color heavy